<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <processors>
      <uiCopyOnlyItem>
        <processor mode="on" type="SmartTools.CopyMove.Pipelines.CopyOnlyItem,SmartTools.CopyMove" method="GetDestination"/>
        <processor mode="on" type="SmartTools.CopyMove.Pipelines.CopyOnlyItem,SmartTools.CopyMove" method="CheckDestination"/>
        <processor mode="on" type="SmartTools.CopyMove.Pipelines.CopyOnlyItem,SmartTools.CopyMove" method="CheckLanguage"/>
        <processor mode="on" type="SmartTools.CopyMove.Pipelines.CopyOnlyItem,SmartTools.CopyMove" method="Execute"/>
      </uiCopyOnlyItem>
      <uiCopySubItems>
        <processor mode="on" type="SmartTools.CopyMove.Pipelines.CopySubItems,SmartTools.CopyMove" method="GetDestination"/>
        <processor mode="on" type="SmartTools.CopyMove.Pipelines.CopySubItems,SmartTools.CopyMove" method="CheckDestination"/>
        <processor mode="on" type="SmartTools.CopyMove.Pipelines.CopySubItems,SmartTools.CopyMove" method="CheckLanguage"/>
        <processor mode="on" type="SmartTools.CopyMove.Pipelines.CopySubItems,SmartTools.CopyMove" method="Execute"/>
      </uiCopySubItems>
      <uiMoveSubItems>
        <processor mode="on" type="SmartTools.CopyMove.Pipelines.MoveSubItems,SmartTools.CopyMove" method="CheckPermissions"/>
        <processor mode="on" type="SmartTools.CopyMove.Pipelines.MoveSubItems,SmartTools.CopyMove" method="GetDestination"/>
        <processor mode="on" type="SmartTools.CopyMove.Pipelines.MoveSubItems,SmartTools.CopyMove" method="CheckShadows"/>
        <processor mode="on" type="SmartTools.CopyMove.Pipelines.MoveSubItems,SmartTools.CopyMove" method="CheckLinks"/>
        <processor mode="on" type="SmartTools.CopyMove.Pipelines.MoveSubItems,SmartTools.CopyMove" method="Execute"/>
        <processor mode="on" type="SmartTools.CopyMove.Pipelines.MoveSubItems,SmartTools.CopyMove" method="RepairLinks"/>
      </uiMoveSubItems>
    </processors>

    <commands>
      <command name="item:copyonlyitem" type="SmartTools.CopyMove.Command.CopyOnlyItem,SmartTools.CopyMove" />
      <command name="item:copysubitems" type="SmartTools.CopyMove.Command.CopySubItems,SmartTools.CopyMove" />
      <command name="item:movesubitems" type="SmartTools.CopyMove.Command.MoveSubItems,SmartTools.CopyMove" />
    </commands>
  </sitecore>
</configuration>